<div id="footer">
	<h2>Kontakt</h2>
	<p>Praesent dapibus, neque id cursus faucibus, tortor neque ege tas augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam dui mi, tincidunt quis, accumsan porttitor tempus lorem ipsum dolor sit amet consequat.</p>
	<ul class="major-icons">
		<li>
			<h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
			<p>(000) 000-0000</p>
		</li>

		<li>
			<h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
			<p><a href="mailto:info@ilove-yoga.de">info@ilove-yoga.de</a></p>
		</li>
	</ul>
	<ul class="joined-icons">
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
	</ul>
	<p class="copyright">Copyright © 2017 iLove-Yoga. <a href="#">Impressum.</a></p>
</div>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
