{{ partial "head" . }}
{{ partial "nav" . }}
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="grey-3">
      <p>{{ .Params.dayofweek }} {{ .Params.starttime }} - {{ .Params.endtime }} </p>
    </div>
    <div>
      <b>Termine:</b>
      <ul>
        {{ range .Params.dates }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>

    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
{{ partial "footer" . }}
